
:after,
:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    
}





/*----- theme style ------*/

.theme_page {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

  /* ------ Page header and nav ----*/
  .page_header {
     margin: 0px 0;
  }

  .nav {
   display: flex;
   justify-content: center;

  }

 
 
  .container
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
  margin-top: 130px;
}

.container .box
{
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}

.container .box::before
{
  content:' ';
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  
}

.container .box::after
{
  content:'';
  position: absolute;
  top: 0;
  left: 50;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
}

.container .box:hover:before,
.container .box:hover:after
{
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
  
}

.container .box:nth-child(1):before,
.container .box:nth-child(1):after
{
  background: linear-gradient(315deg, #004e0184, #7310ff)
}

.container .box:nth-child(2):before,
.container .box:nth-child(2):after
{
  background: linear-gradient(315deg, #5d1dca, #0757007d)
}

.container .box:nth-child(3):before,
.container .box:nth-child(3):after
{
  background: linear-gradient(315deg, #db3cd85c, #012063)
}

.container .box span
{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.container .box span::before
{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;  
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08)
}

.container .box:hover span::before
{
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.container .box span::after
{
  content:'';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  animation-delay: -1s;
}

.container .box:hover span:after
{
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes animate
{
  0%, 100%
  {
    transform: translateY(10px);
  }
  
  50%
  {
    transform: translate(-10px);
  }
}

.container .box .content
{
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #f9f4f4;
  text-shadow: 2px 2px 5px rgb(121, 2, 137);
}

.container .box:hover .content
{
  left: -25px;
  padding: 60px 40px;
}

.container .box .content h2
{
  font-size: 2em;
  color: #60f609;
  margin-bottom: 10px;
 
}

.container .box .content p
{
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
  
}

.container .box .content a
{
  display: inline-block;
  font-size: 1.1em;
  color: #1c1717;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
  
}

.container .box .content a:hover
{
  background: #9d93ab;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}

/*----- page footer and its sections -----*/


.page_footer {
 padding: 5%;
}



/*---- ny side -------*/

@import url(https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto:400,400italic,500,500italic);

@keyframes wiggle {
    0% { -webkit-transform: skewX(24deg); } 
    10% { -webkit-transform: skewX(-8deg); }
    20% { -webkit-transform: skewX(55deg); }
    30% { -webkit-transform: skewX(-90deg); }
    40% { -webkit-transform: skewX(29deg); }
    50% { -webkit-transform: skewX(-90deg); }
    60% { -webkit-transform: skewX(3deg); }
    70% { -webkit-transform: skewX(-2deg); }
    80% { -webkit-transform: skewX(1deg); }
    90% { -webkit-transform: skewX(10deg); }
    100% { -webkit-transform: skewX(0deg); }
}




h1 {
  position:relative;
  font-family:sans-serif;
  font-weight:normal;
  font-size:1em;
  text-align:center;
  cursor:pointer;
  color:rgba(97, 31, 31, 0.95);
  text-shadow:1px 1px rgba(246, 0, 153,0.8),
             -1px -1px rgba(15, 210, 255,0.8),
             -1px 0px rgba(255, 210, 0, 1);
             
}

h1:hover {
  animation: wiggle 0.2s 2;
  /*transition:all ease-out 0.1s;*/
  text-shadow:30px 13px rgba(246, 0, 153,0.8),
             -38px -4px rgba(15, 210, 255,0.8),
             -2px -4px rgba(255, 210, 0, 1);

}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* http://www.eeemo.net/ */




/*----- ny side ------*/




li {
  float: right;
}

span{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
span a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Pixelify Sans', sans-serif;
  
}
span a:before,
span a:after{
  position: absolute;
  content: "TILBAGE";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid rgba(33, 101, 197, 0.389);
  box-sizing: border-box;
  border-radius: 5px;
}
span a:before{
  color: #fff;
  background: #d61deb68;
  transform: rotateY(0deg) translateZ(25px);
}
span a:after{
  color: #f6f5f8;
  transform: rotateX(90deg) translateZ(25px);
}
span a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: #aa4cafb9;
  color: rgba(255, 255, 255, 0.929);
  padding: 16px;
  font-size: 16px;
  font-family: 'Pixelify Sans', sans-serif;
  border: 5px solid rgba(33, 101, 197, 0.389);
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #bdbdbdb5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Pixelify Sans', sans-serif;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ffffff}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: none;
}

.box1 {
  width: 1000px;
  height: 2100px;
  background-color: #f9f5f5ea;
  padding: 10px;
  margin: auto;
  margin-top: 80px;

}

.artikelimg {
  max-height: 500px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  float: right;

}

h3 {
  text-align: center;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
  
}

h4 {
  margin-left: 20px;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
}

h5{
  margin-left: 20px;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
}

h6{
  margin-left: 20px;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
}

h7{
  margin-left: 20px;
  font-weight: bold;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
}

p1 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: large;
  letter-spacing: 3px;
  line-height: 200%;
  font-family: Arial, Helvetica, sans-serif;
}